@model IEnumerable<FunTask.Models.Hijo>

@{
    ViewData["Title"] = "Index";
}

<h1>Hijos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreHijo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenPerfil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreHijo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenPerfil)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HijoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HijoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HijoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
